body
  background-color: #fff
  min-width: 1280px
  font-family: Helvetica, "Hiragino Kaku Gothic ProN", sans-serif

#container
  position: relative

header
  padding: 15px 0

  .header-img
    margin: 0 auto
    +size(148,38)
    //kesu
    text-align: center
    background-color: #eee

#menu
  position: absolute
  top: 24px
  right: 53px
  z-index: 10
  text-align: right

  li
    margin-bottom: 13px
    background-color: #000
    color: #fff

  .menu-img
    +size(37, 30)
    margin: 0 0 35px 104px

    //kesu
    background-color: #eee






