
body
  background-color: #fff
  min-width: 1000px
  font-family: Helvetica, "Hiragino Kaku Gothic ProN", sans-serif
  -webkit-font-smoothing: antialiased
  +prohibit-selection()

::selection
  background: black
  color: white
  opacity:1


#main
  width: 100%
  margin: 0 auto
  margin-top: 50px


img
  width: 100%

#container
  position: relative
  overflow: hidden

@import "header"

footer
  height: 300px
  background: #000
