@import mixin
@import common


.single
  .first-view
    position: fixed
    width:100%
    z-index: 1
    .img-container
      margin: 0 auto
      width:90%

article.article
  z-index: 2
  width:700px
  margin:auto
  margin-bottom: 200px
  position: relative
  padding: 1px 0px


  hgroup
    height:80vh
    position: relative
    margin-bottom: 200px
    .title-layout
      +verticle-center()
      width: 70%
      height: 85px
      padding: 20px
      color: #fff
      background-color: rgba(0, 0, 0, 1)
      text-align: center
      letter-spacing: 1px
      .date
        font-size: 14px
        margin-top: 52px
        margin-bottom: 8px
        // font-family: "HelveticaNeue-Light"
      .category
        font-size: 16px
        margin-bottom: 10px
        font-weight: 300
        letter-spacing: 1.5px
      .title
        font-size: 32px
        font-weight: 600
        letter-spacing: 3px
  .text-container
    +allow-selection()
    font-family: "YuGothic",helvetica,sans-serif
    background: #fff
    padding: 40px
    font-size: 18px
    -webkit-font-smoothing: subpixel-antialiased
    line-height: 170%
    h1:before
      content:"《h1は使っちゃダメ！》"
    h2
      font-size:24px
      font-weight:bold
      margin: 60px auto 20px
    p
      margin: 10px 0
    img
      margin: 70px auto
      max-width: 100%
      width: inherit
      display: block
      transform:scale(1.2)

  .text_footer
    margin-top: 130px
    text-align: center
    .notice
      font-weight:bold
      font-size:18px
    .choose_box
      margin: 30px auto 20px
      color:white
      p
        margin:5px 0
      .choose0
        width: 250px
        display: inline-block
        background-color: #ED1C24
        margin-right:30px
      .choose1
        width: 250px
        display: inline-block
        background-color: #0071BC
        margin:auto

    .border
      border-top: solid 1px #000

    .share
      margin-top: 18px



.scroll
  +size(57, 38)
  margin: 0 auto 57px

  //kesu
  background-color: #eee

.article.fasdfa
  .article_container
    width: 700px
    background-color: #fff
    margin: 0px auto 0px
    padding: 46px 37px 61px


.back
  +size(57, 38)
  margin: 10px auto
  //kesu
  background-color: #eee
